.vscode

jlox/build

clox/*.o
clox/clox

cpplox/build

rlox/debug
rlox/target
rlox/Cargo.lock
rlox/**/*.rs.bk
rlox/*.pdb

hlox/*.o
hlox/*hi

benchmarks/fibonacci.out
benchmarks/fibonacci/Fibonacci.class
benchmarks/fibonacci/Fibonacci.jar

tests/__pycache__/*
tests/.pytest_cache
